<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Struk</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h1>STRUK BELANJA</h1>
        <hr>
        <table border="1">
            <thead>
                <tr>
                    <td>Nama Suyur</td>
                    <td>Harga Perkilo</td>
                    <td>Jumlah Qty</td>
                    <td>Harga Awal</td>
                </tr>
            </thead>
            
            <tbody>
                <tr>
                    <td th:text="${name}"></td>
                    <td th:text="${price}"></td><!-- comment -->
                    <td th:text="${kilo}"></td><!-- comment -->
                    <td th:text="${total10}"></td><!-- comment -->
                </tr>
                
                <tr>
                    <td colspan="4" align="center">
                    </td>
                </tr>
                
                <tr>
                    <td>Jumlah Diskon</td>
                    <td colspan="3" th:text="${disc}"></td>
                </tr>
                
                <tr>
                    <td>Total Harga Diskon</td>
                    <td colspan="3" th:text="${hargadisc}"></td>
                </tr>
                
                <tr>
                    <td>Total Bayar</td>
                    <td colspan="3" th:text="${tbayar}"></td>
                </tr>
                
                <tr>
                    <td>Uang Bayar</td>
                    <td colspan="3" th:text="${jumlah}"></td>
                </tr>
                
                 <tr>
                    <td>Kembalian</td>
                    <td colspan="3" th:text="${kembali}"></td>
                </tr>
            </tbody>
        </table>
    </body>
</html>